@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700,900");

* {
  box-sizing: border-box; /* any width and height specified will include the borders */
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  width: 95%;
  margin: 0;
}

/* typography
======================================= */

.title {
  font-size: 2.5rem;
  margin-bottom: 1.5em;
}

.title span {
  display: block;
  font-size: 0.9em;
  font-weight: 300;
}

/* buttons
======================================= */

.button {
  border-style: solid;
  border-width: 0.1em;
  display: inline-block;
  font-size: 1.2em;
  padding: 0.5em 1.75em;
  text-decoration: none;
  text-transform: uppercase;
}

.button-accent {
  color: #00ff6c;
  border-color: #00ff6c;
}

.button-accent:hover,
.button-accent:focus {
  background: #00ff6c;
  color: #232323;
}

/* header
======================================= */

header {
  left: 0;
  margin: 1.2em;
  position: absolute;
  right: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1em;
}

nav a {
  color: white;
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  padding: 0.6em;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover,
nav a:focus {
  color: #ddd;
}

/* home-hero
======================================= */

.home-hero {
  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 10em 0em;
  color: #fff;
}

/*
*
*
*
========================================
=============== queries ================
========================================
*
*/

@media (min-width: 60em) {
  /* typography
  ======================================= */

  .title {
    font-size: 3.7em;
  }

  /* buttons
  ======================================= */
  .button {
    font-size: 1.5rem;
  }

  /* header
  ======================================= */

  .logo {
    float: left;
  }

  nav {
    float: right;
  }

  /* home-hero
  ======================================= */
  .home-hero {
    height: 100vh;
    padding-top: 30vh;
  }
}
