@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700,900");

* {
  box-sizing: border-box; /* any width and height specified will include the borders */
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 70em;
  width: 95%;
}

/* typography
======================================= */

h1 {
  font-weight: 300;
  font-size: 1.7rem;
  margin: 0;
}

p {
  line-height: 1.45;
  margin-top: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

.title {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1.5em;
  margin-top: 1em;
}

.title span {
  display: block;
  font-size: 0.9em;
  font-weight: 300;
}

/* buttons
======================================= */

.button {
  border-style: solid;
  border-width: 0.1em;
  display: inline-block;
  font-size: 1.2em;
  padding: 0.5em 1.75em;
  text-decoration: none;
  text-transform: uppercase;
}

.button-accent {
  color: #00ff6c;
  border-color: #00ff6c;
}

.button-small {
  font-size: 0.7em;
  font-weight: 700;
}

.button-accent:hover,
.button-accent:focus {
  background: #00ff6c;
  color: #232323;
}

/* header
======================================= */

header {
  left: 0;
  margin: 1.2em;
  position: absolute;
  right: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1em;
}

nav a {
  color: white;
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  padding: 0.6em;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover,
nav a:focus {
  color: #ddd;
}

/* home-hero
======================================= */

.home-hero {
  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 10em 0em;
  color: #fff;
}

/* home-about
======================================= */
.home-about-textbox {
  background-color: #232323;
  color: #eee;
  margin-left: -2.5%; /* because container has 95% width */
  outline: 2px solid #00ff6c;
  outline-offset: -2.5em;
  padding: 4em;
  position: relative;
  width: 100vw;
}

.home-about-textbox h1 {
  background-color: #232323;
  color: #00ff6c;
  padding: 0 0.145em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0.7em;
}

/*
*
*
*
========================================
=============== queries ================
========================================
*
*/

@media (min-width: 25rem) {
  h1 {
    font-size: 1.9rem;
  }

  .home-about-textbox h1 {
    padding: 0 0.33em;
    top: 0.6em;
  }
}

@media (min-width: 60em) {
  /* typography
  ======================================= */
  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .title {
    font-size: 3.7em;
  }

  /* buttons
  ======================================= */
  .button {
    font-size: 1.5rem;
  }

  /* header
  ======================================= */

  .logo {
    float: left;
  }

  nav {
    float: right;
  }

  /* home-hero
  ======================================= */
  .home-hero {
    height: 100vh;
    padding-top: 30vh;
  }

  /* home-about
  ======================================= */
  .home-about {
    background-image: url(../img/who-we-are.jpg);
    background-repeat: no-repeat;
    padding-bottom: 10em;
  }

  .home-about-textbox {
    box-shadow: 0 0 4em 0 rgba(0, 0, 0, 0.4);
    margin-left: -2.5%; /* because container has 95% width */
    outline-offset: -3.5em;
    padding: 6.5em;
    text-align: left;
    top: -7em;
    width: 45%;
  }

  .home-about-textbox h1 {
    left: 5.5rem;
    top: 0.7em;
    transform: translateX(0);
  }
}
